@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

body, html{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	scroll-behavior: smooth;
	background-color: #333;	
	overflow: hidden;
}

body.no-scroll{
	//overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

p{
	font-family: 'Poppins', sans-serif;
}

.upper{
	top:0px;
	left: 0px;
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
	z-index: 999;
	overflow: hidden;
	transition: top 0.5s ease-in-out;
	}
	
	.upper.slide-up{
		top:-100vh;
		}

.upper-container{
	display: flex;
	width: 100%;
	height: 100vh;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	box-shadow: 0 0 black;
	transition: box-shadow 0.5s ease-in-out;
}


@media only screen and (max-width: 1023px) {
	
	.upper{
		flex-wrap: wrap;
		
	}
	.upper-container{
		width: 50vw;
		height: 50vh;
	}
}


@media only screen and (max-width: 800px) {
	
	.upper-container{
		width: 100%;
		height:25vh;
	}
}



.upper-container:nth-child(1){
	background-image: url(https://images.unsplash.com/photo-1626187777040-ffb7cb2c5450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.upper-container:nth-child(2){
	background-image: url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
}

.upper-container:nth-child(3){
	background-image: url(https://images.unsplash.com/photo-1623177623442-979c1e42c255?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1vZGVybiUyMG9mZmljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
}

.upper-container:nth-child(4){
	background-image: url(https://images.unsplash.com/photo-1610960245237-cfab0dea6be4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80)
}


.upper-container h2{
	color: #fff;
	font-weight: 600;
	text-shadow: 0px 0px 6px black;
}

.upper-container .overlay{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	transition: all 0.5s;
	background-color: rgba(0, 0, 0, 0.37);
	z-index: 1;
}

.upper-container:hover{
	z-index: 1;
	box-shadow: 0px 0px 60px black;
}

.upper-container:hover .overlay{
	background-color: rgba(0, 0, 0, 0);
}

.margin-block{
	display: block;
	position: relative;
	margin-top:100vh;
}

.upper-spacer{
	display: block;
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #336699;
}

.first-lower{
	display: flex;
	position: relative;
	left: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #ece6e6;
	z-index: 999;
	box-shadow: 0px 0px 10px black;
}

.lower{
	display: none;
	position: relative;
	left: 0;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #ece6e6;
	z-index: 1;
	height: unset;
}

.top-image{
	display: block;
	justify-content: center;
	align-items: center;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.top-image .overlay{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.top-image .overlay h2{
	color: #fff;
	display: block;
	position: relative;
	margin: 0  auto;
	text-align: center;
}

.top-image .summary{
	color: #fff;
	display: block;
	position: relative;
	margin: 0  auto;
	max-width: 800px;
	width: calc(100vw - 40px);
	font-weight: 300;
}

.fancy-div{
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #fff;
	display: block;
	position: relative;
	width: calc(500px - 100px);
	max-width: calc(100vw - 80px);
	margin: 10px auto 10px auto;
	opacity: 0.6;
}

.bottom-arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 40px;
	opacity: 1;
	transition: all 0.5s;
	cursor: pointer;
}

.bottom-arrow.hide{
	opacity: 0;
}

.bottom-arrow svg{
	width: 60px;
	fill:#fff !important;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 80px 10px 80px;
	border-style: solid;
	border-width: 1px;
	border-color:#999;
	box-shadow: 0px 0px 22px black;
}

.top-arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 40px;
	transform: rotate(180deg);
	opacity: 1;
	transition: all 0.5s;
	cursor: pointer;
}

.top-arrow.hide{
	opacity: 0;
}

.top-arrow svg{
	width: 60px;
	fill:#000 !important;
	background-color: transparent;
	padding: 10px 80px 10px 80px;
	border-style: solid;
	border-width: 1px;
	border-color:#999;
}

.lower-copy{
	display: block;
	position: relative;
	min-height: 100vh;
	height: auto;
	width: 100%;
	background-color: #ece6e6;
}

.lower.show{
	display: block;
	height: 100vh;
}

.back-to-top{
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
}

.back-to-top svg{
	width: 32px;
	height: auto;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color:#999;
	padding: 0 80px 0 80px;
	fill:#000;
	cursor: pointer;
	transition: all 0.5s;
}

.back-to-top svg:hover{
	background-color: #000;
	fill:#fff;
}

.menu-button{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: -40px;
	top: 20px;
	z-index: 999;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.76);
	box-shadow: 0px 0px 20px black;
	z-index: 9999;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.menu-button.show{
	right: 20px;
}

.menu-button div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.menu-button span{
	display: block;
	width:60%;
	height: 2px;
	margin: 2px 0 2px 0;
	background-color: #fff;
}

.main-container{
	display: block;
	position: relative;
	width: 100%;
	top: 100px;
	margin: 0 auto;
	top: 120px;
	max-height: calc(100vh - 120px);
	overflow-y: scroll;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 0 auto 60px auto;
	flex-wrap: wrap;
	max-width: 1200px;
	width: calc(100vw -  40px);
}

.flex-reverse{
	flex-direction: row-reverse;
}


.flex-column{
	margin: 0 10px 0 10px;
	flex: 1 1 300px;
}

.flex-column img{
	max-width: 100%;
	height: auto;
}